@use './partials/variables';
@use './partials/mixin';

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// import fontawesom



body{
    
    max-width: 100vw;
    min-height: 100vh;
    color: white;
    // background: linear-gradient(185deg, rgba(82,124,235,1) 0%, rgba(0,0,0,1) 81%);
}

.container{
    width: 85%;
    height: 100%;
    padding: 5px;
}
.red-text{
    color: #F9636B;
}

.gray-color{
    color: #444444;
}